<style>
#newuser {
  background-image:url('/assets/background.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height: 100%;
  text-align: center;
}
h2 {
  letter-spacing: 1px;
}
.imglogo {
  padding-top: 45%;
}
#holder {
  margin: 10% 0 20% 0;
  background-color: white;
  padding: 10px 20px 10px 20px;
}
#regbutton {
  padding: 10px 110px 10px 110px;
  border-radius: 5px;
  border: 0;
  background-color: #81CD95;
  color: white;
  letter-spacing: 2px;
}
#logorow {
  padding-top: 50px;
}

</style>

<div id="newuser">
  <div class="container">
    <div class="row" id="logorow">
      <a class="imglogo" href="/"><%= image_tag "cahoots_logo_secondary.png" %></a>
    </div>
  <div class="row">
    <div class="col-xs-5 col-md-4"></div>
    <div class="col-xs-8 col-md-4">

      <% if flash[:errors] %>
      <div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <% flash[:errors].each do |message| %> <%= message %>. <% end %></div>
      <% end %>
    <div id="holder">
      <h2><small>Register</small></h2>
      <form action="/users" method="post" class="form-horizontal">
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <div class="form-group">
        <div class="col-sm-6 col-md-6">
        <input type="text" name="user[first_name]" class="form-control" placeholder="First Name">
        </div>
        <div class="col-sm-6 col-md-6">
        <input type="text" name="user[last_name]" class="form-control" placeholder="Last Name">
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-12">
        <input type="text" name="user[email]" class="form-control" placeholder="Email">
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-12">
        <input type="password" name="user[password]" class="form-control" placeholder="Password">
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-12">
        <input type="password" name="user[password_confirmation]" class="form-control" placeholder="Password Confirmation">
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-12">
        <select name='user[department_id]' class="form-control">
					<option selected='select' disabled='disabled'>Select Your Department</option>
					<% if @departments %>
					  <% @departments.each do |department| %>
					    <option value='<%= department.id %>'><%= department.name %></option>
					  <% end %>
					<% end %>
				</select>
        </div>
        </div>
        <div class="form-group">
        <div class='col-sm-12 checkbox'>
        <label class='checkbox-inline'> Project Manager?</label>
        <label class='checkbox-inline'>
        <input type='checkbox' name='user[manager]' value='true'/> Yes</label>
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-12">
        <input id="regbutton" type="submit" value="Join">
        </div>
        </div>
      </form>
      <p>Already a member? <a href="/login">Log In here.</a></p>
    </div>
  </div>
  <div class="col-xs-5 col-md-4"></div>
  </div>
</div>
</div>
