<link rel="stylesheet" href="./assets/stylesheets/usersnew.css">
<div id="newuser">
  <div class="container">
    <div class="row" id="logorow">
      <a class="imglogo" href="/"><%= image_tag "cahoots_logo_secondary.png" %></a>
    </div>
  <div class="row">
    <div class="col-xs-5 col-md-4"></div>
    <div class="col-xs-8 col-md-4">

      <% if flash[:errors] %>
      <div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <% flash[:errors].each do |message| %> <%= message %>. <% end %></div>
      <% end %>
    <div id="holder">
      <h2><small>Register</small></h2>
      <form action="/users" method="post" class="form-horizontal">
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <div class="form-group">
        <div class="col-sm-6 col-md-6">
        <input type="text" name="user[first_name]" class="form-control" placeholder="First Name">
        </div>
        <div class="col-sm-6 col-md-6">
        <input type="text" name="user[last_name]" class="form-control" placeholder="Last Name">
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-12">
        <input type="text" name="user[email]" class="form-control" placeholder="Email">
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-12">
        <input type="password" name="user[password]" class="form-control" placeholder="Password">
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-12">
        <input type="password" name="user[password_confirmation]" class="form-control" placeholder="Password Confirmation">
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-12">
        <select name='user[department_id]' class="form-control">
					<option selected='select' disabled='disabled'>Select Your Department</option>
					<% if @departments %>
					  <% @departments.each do |department| %>
					    <option value='<%= department.id %>'><%= department.name %></option>
					  <% end %>
					<% end %>
				</select>
        </div>
        </div>
        <div class="form-group">
        <div class="radio">
          <label class='radio-inline'> Project Manager?</label>
        </div>
        <div class="radio">
          <div class="col-sm-6"><label><input type="radio" name="user[manager]" value="true">Yes</label></div>
          <div class="col-sm-6"><label><input type="radio" name="user[manager]" value="false">No</label></div>
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-12">
        <input id="regbutton" type="submit" value="Join">
        </div>
        </div>
      </form>
      <p>Already a member? <a href="/login">Log In here.</a></p>
    </div>
  </div>
  <div class="col-xs-5 col-md-4"></div>
  </div>
</div>
</div>
