<link rel='stylesheet' href='./assets/stylesheets/usersshow.css'>
<div class='container'>
<div class='row'>
<div class='bodyoffile'>
<!-- DETERMINE IF PROJECTS EXIST (EITHER IN PM CAPACITY OR AS TEAM MEMBER) OR NOT -->
<% if @projects.any? %> <!-- check if there are any projects to determine if tables should be loaded -->

<!-- PAST DUE PROJECTS -->

	<% if @projects.where(['deadline < ?', DateTime.now]).any? %>
	<h2>Past Projects</h2>
	<% if @manager %>
		<!-- this version loads for managers -->
		<table class='table table-bordered'>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Deadline</th>
					<th>Priority</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>

			<% @pastprojects.each do |p| %>
				<tr>
					<td><a href='/projects/<%= p.id %>'><%= p.name %></a></td>
					<td><%= p.description %></td>
					<td><%= p.deadline.strftime('%b %d %Y') %></td>
					<td><% if p.priority === 1 %> <!-- priority assigned with integers. 1 being high -->
					  	  High
						<% elsif p.priority === 2 %> <!-- priority assigned with integers. 2 being medium -->
						  Medium
						<% elsif p.priority === 3 %> <!-- priority assigned with integers. 3 being low -->
					  	  Low
						<% else %> <!-- priority assigned with integers. this is if it didn't happen to have been assigned an integer -->
					  	  None
						<% end %>
	  				</td>
					<td>
						<% if p.tasks %>
							<% total = 0 %> <!-- variable that counts number of tasks associated with each project -->
							<% complete = 0 %> <!-- variable that keeps track of completed tasks (of the total) -->
							<% p.tasks.each do |t| %>
				        		<% total += 1 %> <!-- increments total count with each task -->
				        		<% if t.complete %>
				       				<% complete += 1 %> <!-- increment complete count -->
						    	<% end %> <!-- ends if statement checking if task is complete -->
							<% end %> <!-- ends looping through cp.tasks.each -->
							<% if ((complete.to_f/total)*100).to_int < 100 %> <!-- if tasks aren't 100% completed, math performed to check for percentage completion -->
								<%= ((complete.to_f/total)*100).to_int %>% Complete
							<% else %> <!-- else if tasks are completed, marks the whole thing completed -->
							Completed
							<% end %> <!-- ends if/else statement checking for percent completion -->
						<% else %> <!-- else if no tasks associated with project -->
							No Tasks
						<% end %> <!-- end looping through tasks that belong to project -->
					</td>
				</tr>
			<% end %> <!-- end looping through each project with deadlines in the past-->
			</tbody>
		</table>
		<div class='col-md-2 col-md-offset-10'><a href='/' class='btn btn-default'>Current Projects</a></div>

	<% else %> <!-- Else if not a manager, load different table for member -->
		<table class='table table-bordered'>
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Manager</th>
					<th>Department</th>
					<th>Project Deadline</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
			<% @pastprojectsbydeadline.each do |p| %>
				<tr>
					<td><a href='/projects/<%= p.id %>'><%= p.name %></a></td>
					<td><%= p.description %></td>
					<td><%= p.manager.first_name %> <%= p.manager.last_name %></td>
					<td><%= p.department.name %></td>
					<td><%= p.deadline.strftime('%b %d %Y') %></td>
					<td>
						<% if p.tasks %>
							<% total = 0 %> <!-- variable that counts number of tasks associated with each project -->
							<% complete = 0 %> <!-- variable that keeps track of completed tasks (of the total) -->
							<% p.tasks.each do |t| %>
			        			<% total += 1 %> <!-- increments total count with each task -->
					        	<% if t.complete %>
					        		<% complete += 1 %> <!-- increments complete count -->
							    <% end %> <!-- ends if statement checking if task is complete -->
							<% end %> <!-- ends looping through p.tasks.each -->
							<% if ((complete.to_f/total)*100).to_int < 100 %> <!-- if tasks aren't 100% completed, math performed to check for percentage completion -->
								<%= ((complete.to_f/total)*100).to_int %>% Complete
							<% else %> <!-- else if tasks are completed, mark the whole thing completed -->
							Completed
							<% end %> <!-- end if/else statement checking for percent completion -->
						<% else %> <!-- else if no p.tasks -->
							No Tasks
						<% end %> <!-- End of checking if there are tasks -->
					</td>
				</tr>
			<% end %> <!-- End looping through past projects -->
			</tbody>
		</table>
	<hr>
	<% end %> <!-- End if manager / team member to determine past projects view -->
	<% else %> 
		<div class='col-md-12'><h3>You don't have any past projects.</h3></div>
	<% end %> <!-- End check for past projects (with deadlines in the past) -->
<% else %> <!-- else for checking if there are any projects -->
	<div class='col-md-12'><h3>You don't have any projects at this time.</h3></div>
	<% if current_user.manager %>
		<div class='col-md-2'><a href='/projects/new' class='btn btn-default'>Start a New Project</a></div>
	<% end %>
<% end %> <!-- end for checking if there are any projects -->
</div>
</div>
</div>
