 <% if @manager %>
<h2>Projects</h2>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Deadline</th>
				<th>Priority</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
		<% @projects.each do |p| %>
			<tr>
				<td><a href="/projects/<%= p.id %>"><%= p.name %></a></td>
				<td><%= p.description %></td>
				<td><%= p.deadline %></td>
				<td><% if p.priority === 1 %>
					  High
					<% elsif p.priority === 2 %>
					  Medium
					<% elsif p.priority === 3 %>
					  Low
					<% else %>
					  None
					<% end %>
  				</td>
				<td>
					<% if @tasks.find_by(project_id: p.id) %>
						<% total = 0 %>
						<% complete = 0 %>
						<% p.tasks.each do |t| %>
		        			<% total += 1 %>
		        			<% if t.complete %>
		        				<% complete += 1 %>
					    	<% end %>
						<% end %>
						<%= ((complete.to_f/total)*100).to_int %>% Complete
					<% else %>
						No tasks
					<% end %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
	<div class="col-md-2 col-md-offset-10"><a href="/projects/new" class="btn btn-default">Add Project</a></div>

<% else %>
<h2>Projects</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Manager</th>
				<th>Department</th>
				<th>Project Deadline</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
		<% @projects.each do |p| %>
			<tr>
				<td><a href="/projects/<%= p.id %>"><%= p.name %></a></td>
				<td><%= p.description %></td>
				<td><%= p.manager.first_name %> <%= p.manager.last_name %></td>
				<td><%= p.deadline %></td>
				<td><%= p.department.name %></td>
				<td>
					<% if p.tasks %>
						<% total = 0 %>
						<% complete = 0 %>
						<% p.tasks.each do |t| %>
		        	<% total += 1 %>
		        	<% if t.complete %>
		        		<% complete += 1 %>
					    <% end %>
						<% end %>
						<%= ((complete.to_f/total)*100).to_int %>% Complete
					<% end %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>

<hr>
<% if @member_tasks.count > 0 %>
<h2>Your Tasks</h2>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Task</th>
			<th>Project</th>
			<th>Department</th>
			<th>Deadline</th>
			<th>Priority</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
	<% @member_tasks.each do |mt| %>
		<tr>
			<td><%= mt.name %></td>
			<td><a href="/projects/<%= mt.project.id %>"><%= mt.project.name %></a></td>
			<td><%= mt.department.name %> Department</td>
			<td><%= mt.deadline %></td>
			<td><% if mt.priority === 1 %>
							High
					<% elsif mt.priority === 2 %>
							Medium
					<% elsif mt.priority === 3 %>
							Low
					<% else %>
							None
					<% end %>
			</td>
			<td>
				<% if mt.complete %>
				Marked Complete
				<form action='/tasks/<%= mt.id %>' method='post' style="display: inline;">
				 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				 <input type="hidden"name="_method" value="patch">
				 <input type="hidden" name="task[complete]" value="false">
				 <input type="submit" value="Undo" style="text-decoration: underline; border: none; outline: none; color: clear;">
				</form>
				<% else %>
				<form action='/tasks/<%= mt.id %>' method='post' style="display: inline;">
				 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				 <input type="hidden"name="_method" value="patch">
				 <input type="hidden" name="task[complete]" value="true">
				 <input type="submit" value="Complete" style="text-decoration: underline; border: none; outline: none; color: clear;">
				</form>
				<% end %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
<% end %>

<% end %>
