<style>
th, td {
	border: 1px dotted black;
	padding: 0px 10px;
}

</style>

 <% if @manager %>
<h2>Projects</h2>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Deadline</th>
				<th>Priority</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
		<% @projects.each do |p| %>
			<tr>
				<td><a href="/projects/<%= p.id %>"><%= p.name %></a></td>
				<td><%= p.description %></td>
				<td><%= p.deadline %></td>
				<td><% if p.priority === 1 %>
					  High
					<% elsif p.priority === 2 %>
					  Medium
					<% elsif p.priority === 3 %>
					  Low
					<% else %>
					  None
					<% end %>
  				</td>
				<td>
					<% if @tasks.find_by(project_id: p.id) %>
						<% total = 0 %>
						<% complete = 0 %>
						<% p.tasks.each do |t| %>
		        			<% total += 1 %>
		        			<% if t.complete %>
		        				<% complete += 1 %>
					    	<% end %>
						<% end %>
						<%= ((complete.to_f/total)*100).to_int %>% Complete
					<% else %>
						No tasks
					<% end %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
	<a href="/projects/new" class="btn btn-default">Add Project</a>

<% else %>
<h2>Projects:</h2>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Manager</th>
				<th>Department</th>
				<th>Project Deadline</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
		<% @projects.each do |p| %>
			<tr>
				<td><a href="/projects/<%= p.id %>"><%= p.name %></a></td>
				<td><%= p.description %></td>
				<td><%= p.manager.first_name %> <%= p.manager.last_name %></td>
				<td><%= p.deadline %></td>
				<td><%= p.department.name %></td>
				<td>
					<% if p.tasks %>
						<% total = 0 %>
						<% complete = 0 %>
						<% p.tasks.each do |t| %>
		        	<% total += 1 %>
		        	<% if t.complete %>
		        		<% complete += 1 %>
					    <% end %>
						<% end %>
						<%= ((complete.to_f/total)*100).to_int %>% Complete
					<% end %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>

<% end %>
