
 <% if @manager %>

 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="font-size: 1.7em;"><%= @project.name %></h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr>
          <td>Description</td>
          <td><%= @project.description %></td>
        </tr>
        <tr>
          <td>Deadline</td>
          <td><%= @project.deadline.strftime('%b %d %Y') %></td>
        </tr>
        <tr>
          <td>Priority</td>
          <td>
            <% if @project.priority === 1 %>
                High
            <% elsif @project.priority === 2 %>
                Medium
            <% elsif @project.priority === 3 %>
                Low
            <% else %>
                None
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Status</td>
            <td>
            <% if @project.tasks.count > 0 %>
                <% total = 0 %>
                <% complete = 0 %>
                <% @project.tasks.each do |t| %>
                    <% total += 1 %>
                    <% if t.complete %>
                        <% complete += 1 %>
                    <% end %>
                <% end %>
                <%= ((complete.to_f/total)*100).to_int %>% Complete
            <% else %>
                No tasks
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <% if @project.tasks.count > 0 %>
      <% if @project.tasks.exists?(complete: true)%>
      <h4>Pending Tasks</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Task</th>
            <th>Assigned to</th>
            <th>Deadline</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @project.tasks.where(complete: false).each do |t| %>
          <tr>
            <td><%= t.name %></td>
            <td><%= t.member.first_name %> <%= t.member.last_name %></td>
            <td><%= t.deadline.strftime('%b %d %Y') %></td>
            <td>
              <form action='/tasks/<%= t.id %>' method='post' class='delete_task_form'>
                <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                <input type='hidden' name='_method' value='delete'>
                <input type='submit' class="btn btn-default" value='Delete' class='delete-btn'/>
              </form>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <h4>Completed Tasks</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Task</th>
              <th>Assigned to</th>
              <th>Deadline</th>
              <th>Status</th>
              <th>Date Completed</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @project.tasks.where(complete: true).each do |t| %>
            <tr>
              <td><%= t.name %></td>
              <td><%= t.member.first_name %> <%= t.member.last_name %></td>
              <td><%= t.deadline.strftime('%b %d %Y') %></td>
              <td><% if t.complete%> Completed <% else %> In Progess <% end %></td>
              <td><%= t.updated_at.strftime('%b %d %Y')%></td>
              <td>
                <form action='/tasks/<%= t.id %>' method='post' class='delete_task_form'>
					         <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
					         <input type='hidden' name='_method' value='delete'>
					         <input type='submit' class="btn btn-default" value='Delete' class='delete-btn'/>
                </form>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
        <h4>Pending Tasks</h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Task</th>
                <th>Assigned to</th>
                <th>Deadline</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @project.tasks.where(complete: false).each do |t| %>
              <tr>
                <td><%= t.name %></td>
                <td><%= t.member.first_name %> <%= t.member.last_name %></td>
                <td><%= t.deadline.strftime('%b %d %Y') %></td>
                <td>
                  <form action='/tasks/<%= t.id %>' method='post' class='delete_task_form'>
                    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                    <input type='hidden' name='_method' value='delete'>
                    <input type='submit' class="btn btn-default" value='Delete' class='delete-btn'/>
                  </form>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <% end %>
        <% else %>
        <h4>Project Tasks: No tasks pending</h4>
        <% end %>
        </li>
    </ul>
    <hr>


    <a href="<%= @project.id %>/edit">Edit Project</a> | <a href="<%= @project.id%>/edit">Add Tasks</a>
    <hr>
    <a href="/projects/<%= @project.id %>" data-method="delete">Delete Project</a>
   </div>

  </div>

 <% else %>

 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="font-size: 1.7em;"><%= @project.name %></h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr>
          <td>Description</td>
          <td><%= @project.description %></td>
        </tr>
        <tr>
          <td>Deadline</td>
          <td><%= @project.deadline.strftime('%b %d %Y') %></td>
        </tr>
        <tr>
          <td>Priority</td>
          <td>
            <% if @project.priority === 1 %>
                High
            <% elsif @project.priority === 2 %>
                Medium
            <% elsif @project.priority === 3 %>
                Low
            <% else %>
                None
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Status</td>
            <td>
            <% if @project.tasks.count > 0 %>
                <% total = 0 %>
                <% complete = 0 %>
                <% @project.tasks.each do |t| %>
                    <% total += 1 %>
                    <% if t.complete %>
                        <% complete += 1 %>
                    <% end %>
                <% end %>
                <%= ((complete.to_f/total)*100).to_int %>% Complete
            <% else %>
                No tasks
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
        <% if @project.tasks.where(member: current_user).count > 0 %>
          <% if @alltasks.where(project_id: @project.id, member: current_user).count > 0 %>
              <% total = 0 %>
              <% complete = 0 %>
              <% @project.tasks.where(member: current_user).each do |t| %>
                  <% total += 1 %>
                  <% if t.complete %>
                      <% complete += 1 %>
                  <% end %>
              <% end %>
              Your tasks are <%= ((complete.to_f/total)*100).to_int %>% complete!
          <% else %>
              <b>You have no tasks.</b>
          <% end %>
          <h4>Your tasks for this project</h4>
          <table class="table table-bordered">
            <thead>
        			<tr>
        				<th>Task</th>
        				<th>Deadline</th>
        				<th>Status</th>
        			</tr>
        		</thead>
            <tbody>
              <% @tasks.where(member: current_user).each do |t| %>
              <tr>
                <td><%= t.name %></td>
                <td><%= t.deadline.strftime('%b %d %Y') %></td>
                <td>
                  <% if t.complete %>
                  Completed <%= t.updated_at.strftime('%b %d %Y') %>
                  <form action='/tasks/<%= t.id %>' method='post' style="display: inline;">
                   <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"/>
                   <input type="hidden" name="_method" value="patch"/>
                   <input type="hidden" name="task[complete]" value="false"/>
                   <input type="submit" value="Mark Incomplete" class="btn btn-default"/>
                  </form>
                  <% else %>
                  <form action='/tasks/<%= t.id %>' method='post' style="display: inline;">
                   <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"/>
                   <input type="hidden" name="_method" value="patch"/>
                   <input type="hidden" name="task[complete]" value="true"/>
                   <input type="submit" value="Mark Complete" class="btn btn-default"/>
                  </form>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <h4>Other tasks associated with this project</h4>
              <table class="table table-bordered">
                <thead>
            			<tr>
            				<th>Task</th>
            				<th>Assigned to</th>
            				<th>Status</th>
            			</tr>
            		</thead>
            		<tbody>
                  <% @tasks.where.not(member: current_user).each do |ot| %>
                  <tr>
            				<td><%= ot.name %></td>
                    <td><%= ot.member.first_name %> <%= ot.member.last_name %></td>
                    <td><% if ot.complete %> Completed <% else %> In Progress <% end %></td>
                  </tr>
                  <% end %>
              </table>
        <% end %>
   </div>
  </div>

 <% end %>
