 <% if @manager %>

 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @project.name %></h3>
  </div>
  <div class="panel-body">
    <ul>
        <li>Description: <%= @project.description %></li>
        <li>Deadline: <%= @project.deadline %></li>
        <li>Priority:
            <% if @project.priority === 1 %>
                High
            <% elsif @project.priority === 2 %>
                Medium
            <% elsif @project.priority === 3 %>
                Low
            <% else %>
                None
            <% end %>
        </li>
        <li>Status:
            <% if @project.tasks.count > 0 %>
                <% total = 0 %>
                <% complete = 0 %>
                <% @project.tasks.each do |t| %>
                    <% total += 1 %>
                    <% if t.complete %>
                        <% complete += 1 %>
                    <% end %>
                <% end %>
                <%= ((complete.to_f/total)*100).to_int %>% Complete
            <% else %>
                No tasks
            <% end %>
        </li>
        <li>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Task</th>
                <th>Assigned to</th>
                <th>Deadline</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @project.tasks.each do |t| %>
              <tr>
                <td><%= t.name %></td>
                <td><%= t.member.first_name %> <%= t.member.last_name %></td>
                <td><%= t.deadline %></td>
                <td><% if t.complete%> Completed <% else %> In Progess <% end %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </li>
    </ul>
    <a href="<%= @project.id %>/edit">Edit Project or Add Tasks</a>
    <hr>
    <a href="/projects/<%= @project.id %>" data-method="delete">Delete Project</a>
   </div>
  </div>

 <% else %>

 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @project.name %></h3>
  </div>
  <div class="panel-body">
    <ul>
        <li>Description: <%= @project.description %></li>
        <li>Manager: <%= @project.manager.first_name %> <%= @project.manager.last_name %> <a href="mailto:<%= @project.manager.email %>">Contact</a></li>
        <li>Department: <%= @project.department.name %> Department</li>
        <li>Deadline: <%= @project.deadline %></li>
        <li>Project Status:
            <% if @project.tasks %>
                <% total = 0 %>
                <% complete = 0 %>
                <% @project.tasks.each do |t| %>
                    <% total += 1 %>
                    <% if t.complete %>
                        <% complete += 1 %>
                    <% end %>
                <% end %>
                <%= ((complete.to_f/total)*100).to_int %>% Complete
            <% else %>
                No tasks
            <% end %>
        </li>
        <% if @project.tasks.where(member: current_user).count > 0 %>

            <li>Your tasks are
                <% if @alltasks.where(project_id: @project.id, member: current_user).count > 0 %>
                    <% total = 0 %>
                    <% complete = 0 %>
                    <% @project.tasks.where(member: current_user).each do |t| %>
                        <% total += 1 %>
                        <% if t.complete %>
                            <% complete += 1 %>
                        <% end %>
                    <% end %>
                    <%= ((complete.to_f/total)*100).to_int %>% complete.
                <% else %>
                    No tasks
                <% end %>

                Your tasks:
                <table class="table table-bordered">
                  <thead>
              			<tr>
              				<th>Task</th>
              				<th>Deadline</th>
              				<th>Status</th>
              			</tr>
              		</thead>
                  <tbody>
                    <% @tasks.where(member: current_user).each do |t| %>
                    <tr>
                      <td><%= t.name %></td>
                      <td><%= t.deadline %></td>
                      <td>
                        <% if t.complete %>
                        Marked Complete
                        <form action='/tasks/<%= t.id %>' method='post' style="display: inline;">
                         <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                         <input type="hidden"name="_method" value="patch">
                         <input type="hidden" name="task[complete]" value="false">
                         <input type="submit" value="Undo" style="text-decoration: underline; border: none; outline: none; color: clear;">
                        </form>
                        <% else %>
                        <form action='/tasks/<%= t.id %>' method='post' style="display: inline;">
                         <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                         <input type="hidden"name="_method" value="patch">
                         <input type="hidden" name="task[complete]" value="true">
                         <input type="submit" value="Complete" style="text-decoration: underline; border: none; outline: none; color: clear;">
                        </form>
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
            </li>
            <li>Other tasks associated with this project:
              <table class="table table-bordered">
                <thead>
            			<tr>
            				<th>Task</th>
            				<th>Task Owner</th>
            				<th>Status</th>
            			</tr>
            		</thead>
            		<tbody>
                  <% @tasks.where.not(member: current_user).each do |ot| %>
                  <tr>
            				<td><%= ot.name %></td>
                    <td><%= ot.member.first_name %> <%= ot.member.last_name %></td>
                    <td><% if ot.complete %> Completed <% else %> In Progress <% end %></td>
                  </tr>
                  <% end %>
              </table>
            </li>

        <% end %>
    </ul>
   </div>
  </div>

 <% end %>
